snippet fori "for int loop (fori)"
for (${4:int} ${2:i} = 0; $2 < ${1:cout}; ${3:++$2}) {
	${VISUAL}$0
}
endsnippet

snippet cout "print a variable"
std::cout << "${1:Hello World!}: " << std::endl;
endsnippet